* {
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  
 
    
}
header {
    background-color: black;
    color: beige;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    padding-bottom: 100px;
    display: block;
    text-align: center;
}



.menu {
    text-align: center;
    color: beige;
    background-color: #cc0000;
    display: flex;
   justify-content: center;
   justify-content: space-between;
    position: sticky;
    padding: 25px 0 25px 0;
}

.menu {
    display: inline-block;
}
a:hover {
    background-color: #da6a6a;
    align-self: auto;
}

body{
    margin-top: 600px;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    padding: 10px;
    padding-top: 50px;
  
}

.luky {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    margin: 10px auto;
    display: block;
    
}

.fotka {
    width: 200px;
    height: 200px;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 10px auto; 

}

.restaurace {
    background-color: #330000;
    justify-content: stretch;
    align-items: stretch;
   
  
}

.res {
  background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: 15px #446d8059;
  padding: 20px;
  margin: 30px 10px 30px 10px;
  width: 95%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer {
    background-color: #cc0000;
 ;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
}

a:link {
    color: rgb(247, 252, 253);
    text-decoration: none;
    font-size: large;
}
a:visited {
    color: black;
}